.about-wrapper {
  overflow: hidden;
  display: block;
  top: -32px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  z-index: 100;
  @media (max-width: $layout-breakpoint-xsmall) {
    top: -28px;
  }
  @media (min-width: $layout-breakpoint-small) {
    max-width: 850px;
  }
  @media (min-width: $layout-breakpoint-medium) {
    max-width: 1000px;
  }
}

.about {
  display: flex;
  @media (max-width: $layout-breakpoint-xsmall) {
    flex-direction: column;
  }
  .img-container {
    height: 700px;
    width: 600px;
    overflow: hidden;
    // @media (min-width: $layout-breakpoint-xsmall) {
    //   height: 700px;
    //   width: 100%;
    // }
    @media (max-width: $layout-breakpoint-xsmall) {
      height: 600px;
      width: 100%;
    }
    @media (max-width: $layout-breakpoint-xxsmall) {
      height: 400px;
      width: 100%;
    }
    img {
      height: 100%;
      left: -25%;
      width: auto;
      object-fit: cover;
      object-position: center;
      position: relative;
    }
  }
  .text-cover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    background-color: $black;
    @media (max-width: $layout-breakpoint-xsmall) {
      position: relative;
      width: 100%;
      height: 100%;
    }
    @media (min-width: $layout-breakpoint-xsmall) and (max-width: $layout-breakpoint-small) {
      width: 60%;
      height: 85%;
      padding: 40px;
    }
    @media (min-width: $layout-breakpoint-small) and (max-width: $layout-breakpoint-medium) {
      width: 60%;
      height: 85%;
      padding: 40px;
    }
    .subtitle {
      font-size: 18px;
      padding: 24px 0;
    }
    .title {
      font-size: 36px;
      padding: 24px 0;
    }
    .description {
      font-size: 16px;
      font-weight: 300;
      padding: 24px 0;
      line-height: 20px;
    }
  }
}
