$layout-breakpoint-4k: 2560px; // for 4k or Ultra HD screens
$layout-breakpoint-large: 1920px; // for large desktop screens
$layout-breakpoint-medium: 1440px; // for medium desktop screens
$layout-breakpoint-small: 1024px; // for tablets and small desktops
$layout-breakpoint-xsmall: 768px; // for large phones (landscape) and small tablets
$layout-breakpoint-xxsmall: 480px; // for small phones

// Colors
$background: rgb(30, 32, 37);
$white: #fff;
$black: #24242a;
